.menu-btn-col {
    float: right;
}
.company-info{
    margin-left: 40%;
}
#navcol-1 {
    font-size: 18px;
}
#b--navbar {
    max-height: 64px;
}
.nav-login{

}

@media only screen and (max-width: 992px) {
    /*.nav-login{
        display: none;
    }*/
}