<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/login}" th:method="post">
    <div th:if="${param.error}">
        Viallinen käyttäjänimi tai salasana.
    </div>
    <div th:if="${param.logout}">
        Olet kirjautunut ulos.
    </div>
    <lable>Username</lable>
    <input type="text" id="username" name="username">

    <lable>Password</lable>
    <input type="password" id="password" name="password">

    <input type="submit">
</form>
</body>
</html>